<div class="article-form-container">
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Body"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Image">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  
    <button mat-button>Submit</button>
  </div>