<div *ngIf="loggedIn;else preLoginContent">
  <div>
    <h2 class="mat-h2" style="text-align: left">My Account</h2>
    <img src="{{loggedInUser.imageURL}}">
  </div>
</div>
  <div>
    <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)">
      <mat-tab label="Submit a picture">
        <app-subpic *ngIf="loggedIn"></app-subpic>
        <div *ngIf="!loggedIn">Please login to use this feature</div>
      </mat-tab>
      <mat-tab label="Manage my pictures">
        <app-listpics *ngIf="loggedIn"></app-listpics>
        <div *ngIf="!loggedIn">Please login to use this feature</div>
      </mat-tab>
      <mat-tab label="Submit a Content">
        <app-editpost [hidden]="!loggedIn" [tabChangeEvent]="tabChangeEvent"></app-editpost>
        <div [hidden]="loggedIn">Please login to use this feature</div>
      </mat-tab>
      <mat-tab label="Manage my Content">
        <app-listposts *ngIf="loggedIn"></app-listposts>
        <div *ngIf="!loggedIn">Please login to use this feature</div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <hr>
Logout
<ng-template #preLoginContent>
  <google-signin
    [clientId]="myClientId"
    [width]="myWidth"
    [theme]="myTheme"
    [scope]="myScope"
    [longTitle]="myLongTitle"
    (googleSignInSuccess)="onGoogleSignInSuccess($event)">
  </google-signin>
</ng-template>