<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="side">
        <mat-toolbar>
            <mat-toolbar-row><span>Second Row</span></mat-toolbar-row>
            <mat-toolbar-row><span>Third Row</span></mat-toolbar-row>
        </mat-toolbar>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-button (click)="sidenav.toggle()" color="primary">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="width:15px"></span>
        <a routerLink="/home" style="text-decoration : none; color : white">Roorkee.org</a>
        <span class="toolbar-fill-remaining-space"></span>
        <mat-icon>account_balance</mat-icon>
        <span>IITR</span>
        <span style="width:15px"></span>
        <mat-icon>photo_library</mat-icon>
        <a routerLink="/page" style="text-decoration : none; color : white">Photos</a>
        <span style="width:15px"></span>
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>