.toolbar-fill-remaining-space {
    flex: 1 1 auto;
}
.toolbar-space {
    width: 1 1 auto;
}
main {
    padding: 5px;
}
.website-name{
    padding-left: 5px;
    text-decoration : none;
    color : white;
}