<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <mat-icon>home</mat-icon>
    <span>Roorkee.org</span>
    <span class="toolbar-fill-remaining-space"></span>
    <mat-icon>account_balance</mat-icon>
    <span>IITR</span>
    <span style="width:15px"></span>
    <mat-icon>photo_library</mat-icon>
    <span>Photo Library</span>
    <span style="width:15px"></span>
    <mat-icon>account_circle</mat-icon>
    <span>Login</span>
</mat-toolbar>
<h1> Welcome to {{ title }}!</h1>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        Roorkee is respected world over for being the proud owner of world class IIT (Indian Institute of Technology). Institution with a golden past, Situated on the bank of river Solani, it has one of the oldest cantonments in India.
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>