<header>
    <mat-toolbar color="primary">
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>Photos</button>
            <button mat-menu-item>Contact us</button>
            <button mat-menu-item>Help</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <a routerLink="/home" class="website-name">Roorkee.org</a>
        <span class="toolbar-fill-remaining-space"></span>
        <button mat-icon-button routerLink="/login">
            <mat-icon>account_circle</mat-icon>
        </button>
        
    </mat-toolbar>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <mat-toolbar color="primary">
        <span class="toolbar-fill-remaining-space"></span>
        Sitemap :: Contact Us :: Developed using <object data="assets/img/jetbrains.svg" type="image/svg+xml"></object>
    </mat-toolbar>
</footer>