<mat-toolbar>
    <span class="toolbar-fill-remaining-space"></span>
  <app-wthrwdgit></app-wthrwdgit>
</mat-toolbar>
<div *ngIf="!error && !contentList">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="error">
  An error occurred while communicating with the server, please try again later.
</div>
<mat-card *ngFor="let content of contentList" class="home-card">
  <img mat-card-image src="{{uploadServerURL}}/{{content.imageURL}}">
  <mat-card-content>
    <h2>{{content.title}}</h2>
      {{content.description}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="moreBtnClick('page/'+content.id);">More</button>
  </mat-card-actions>
</mat-card>
