<mat-card class="home-card">
  <mat-card-title>The Town</mat-card-title>
  <img mat-card-image src="assets/img/home/roorkee.jpg" alt="Roorkee">
  <mat-card-content>
      Roorkee is respected world over for being the proud owner of world class IIT (Indian Institute of Technology). Institution with a golden past, Situated on the bank of river Solani, it has one of the oldest cantonments in India.
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-title>IIT</mat-card-title>
  <img mat-card-image src="assets/img/home/iitr.jpg" alt="IITR">
  <mat-card-content>
          The famed IIT (Indian Institute of Technology) has its genesis in Roorkee College. Constituted in 1847, its purpose was to train the manpower for the construction of Ganga Canal. Today it educates hundreds of students and prepares them for global challenges.
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="moreBtnClick('page/iitr');">More</button>
  </mat-card-actions>
</mat-card>
<mat-card class="home-card">
  <mat-card-title>Solani Aqueduct</mat-card-title>
  <img mat-card-image src="assets/img/home/Solani-Aqueduct.jpg" alt="Solani Aqueduct">
  <mat-card-content>
          Built by British in 1846, it is one of the marvels of engineering. Roorkee owes its development to this aqueduct. Augmented recently, it is a source of major attraction for people visiting Roorkee.
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-title>Crystal World</mat-card-title>
  <img mat-card-image src="assets/img/home/crystal_world_haridwar.jpg" alt="Crystal World">
  <mat-card-content>
          The Largest amusement park close to Roorkee, it offers a variety of entertainment. Some of its offerings, like water sport, are immensely popular amongst children and grown-ups alike. A must visit and a popular destination for families.
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-title>The War Memorial</mat-card-title>
  <img mat-card-image src="assets/img/home/beg-The-War-Memorial.jpg" alt="The War Memorial">
  <mat-card-content>
          Replica of Mahmood’s tower, it is one of the attractions of Roorkee and was built to commemorate the bravery of Subedar Devi Singh and his men who stormed the Ghazni fort in Afghanistan.
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-title>Patanjali Yogpeeth</mat-card-title>
  <img mat-card-image src="assets/img/home/Patanjali.jpg" alt="Patanjali Yogpeeth">
  <mat-card-content>
          Roorkee also is the proud “owner” of Patanjali Yogpeeth. A famous trust founded by the revered Swami Ramdev. Established to spread the awareness amongst the masses about the remedial powers of yoga and ayurveda, it draws thousands of devotees every year. One of the major aims of this trust is to develop India into a healthy country, free of diseases. Because of its pious intentions and its commitment to serve the poor, Patanjali Yogpeeth is held in very high esteem not only by the people of Uttarakhand but by entire country.
  </mat-card-content>
</mat-card>
<mat-card class="home-card">
  <mat-card-title>Contribute</mat-card-title>
  <img mat-card-image src="assets/img/home/code.jpeg" alt="Code">
  <mat-card-content>
          Want to contibute to Roorkee.org, you could contribute as a developer, photographer, content moderator.
  </mat-card-content>
</mat-card>
